.grid-layout{
    display: grid;
    grid-template-areas:
    "header header"
    "aside content"
    "footer footer";
    grid-template-columns: 1fr 2fr;
    gap: 3px;
    background-color: #850101;
    padding: 5px;
    max-width: 1500px;
    margin: auto;
}

.box{
    background: #828282;
    border-radius: 10px;
}

.header{
    grid-area: header;
    background-color: #999DA0;
}

.aside{
    grid-area: aside;
}

.content{
    grid-area: content;
    background-color: #787276;
}


.footer{
    grid-area: footer;
    text-align: center;
    background-color: #48494B;
}

@media (min-width: 600px) {
    .grid-layout {
        grid-template-areas:
    "header"
    "aside"
    "content"
    "footer";
        grid-template-columns: 1fr;
    }
}

body{
    background-color: #343434;
}

#nagycim{
    text-align: center;
    font-size: 50px;
    color: #B2BEB5;
}

p{
    color: #B2BEB5;
}

li{
    color: #B2BEB5;
}

h1{
    text-align: center;
}